{% extends 'static/template.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h2>Contact Us</h2>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Dealership Name</th>
                            <th>Review</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monroe, Louisiana</td>
                            <td>Bayou Motors</td>
                            <td>Great service and friendly staff!</td>
                            <td>4.5</td>
                        </tr>
                        <tr>
                            <td>Dallas, Texas</td>
                            <td>Lone Star Auto</td>
                            <td>Fast and efficient service. Highly recommended!</td>
                            <td>4.8</td>
                        </tr>
                        <tr>
                            <td>Arlington, Texas</td>
                            <td>Texas Wheels</td>
                            <td>Knowledgeable staff and good deals on cars.</td>
                            <td>4.2</td>
                        </tr>
                        <tr>
                            <td>Vicksburg, Mississippi</td>
                            <td>Magnolia Motors</td>
                            <td>Smooth transaction, satisfied with my purchase.</td>
                            <td>4.0</td>
                        </tr>
                        <tr>
                            <td>Little Rock, Arkansas</td>
                            <td>Rock City Autos</td>
                            <td>Excellent customer service and variety of cars.</td>
                            <td>4.7</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}